body{
    background-color: #eee;
}


h1 {
    height: 100%;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 30px;
    
    text-align: center;
    padding: 5px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-color: whitesmoke; */
}

h2 {
    height: 100%;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
   
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-color: whitesmoke; */
}

footer {
    padding-top: 100px;
    margin-top: 100px;
}





.gray-box {
    background-color: white;
    padding: 40px;
    margin-top: 100px;
    border: gray;
    border-width: 10px;
    border-style: solid;  
    
}

.btn {
    color: #FEF6EB;
    background-color:#C25B56;
    border-color:lightcoral;
}

.btn:hover {
    background-color: gray;
    
}

#start {
    margin: 50px;
}
#questionbox {
    padding: 10px;
    margin: 10px;
    
    font-size: 30px;
}

#progress {
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#timer {
    padding-top: 20px;
    font-size: 20px;
}
#74828F #96C0CE #BEB9B5 #C25B56 #FEF6EB