body{
    background-color:#BEB9B5;
}


h1 {
    height: 100%;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 30px;
    padding: 0;
    text-align: center;
    padding: 5px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background-color: whitesmoke; */
}

h2 {
    color: black
}

footer {
    padding-top: 100px;
}

p {
    color: darkslategray
}



.gray-box {
    background-color: white;
    padding: 40px;
    margin-top: 50px;
    border: gray;
    border-width: 10px;
    border-style: solid;  
    
}
.btn {
    color: #FEF6EB;
    background-color:#C25B56;
    border-color:lightcoral;
}

.btn:hover {
    background-color: gray;
    
}

#start {
    margin: 50px;
}
#questionbox {
    padding: 10px;
    margin: 10px;
    content: justify-center;
}

#progress {
    padding-top: 20px;
}

#timer {
    padding-top: 20px;
}
#74828F #96C0CE #BEB9B5 #C25B56 #FEF6EB